html,
body {
  overflow-x: hidden;
  &::-webkit-scrollbar {
    background: var(--main-bg);
    width: .9vw;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--free-bg-2);
  }
}

.body-disable-scroll {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  overflow: hidden;
}