.register {
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgba(20, 20, 30, 1);
  overflow: hidden;
  z-index: 0;
  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__background {
    position: absolute;
    top: 11vw;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(50, 50, 60, 1);
    font-family: "Tusker Grotesk Regular", sans-serif;
    font-size: 47vw;
    text-transform: uppercase;
    z-index: -9;
  }
  &__form {
    width: 35.5vw;
    border-radius: 3vw;
    background: rgba(247, 244, 249, 1);
    padding: 6vw 6.75vw;
  }
  &__form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__form-title {
    color: var(--submain-color);
    font-family: "Tusker Grotesk SemiBold", sans-serif;
    font-size: 2vw;
    text-transform: uppercase;
    margin-bottom: 2vw;
  }
  &__form-item {
    width: 100%;
    margin-bottom: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__form-input {
    width: 100%;
    background: var(--free-bg-1);
    font-family: "Roobert";
    font-size: 1vw;
    border-radius: .5vw;
    padding: 1vw;
  }
  &__form-input[type="checkbox"] {
    position: absolute;
    z-index: -9;
    opacity: 0;
    &:checked+.register__form-label::before {
      border-color: var(--main-color);
      background-color: var(--main-color);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }
  }
  &__form-label {
    color: var(--submain-color);
    font-family: "Roobert";
    font-size: 1vw;
    margin-right: auto;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    user-select: none;
    &::before {
      content: "";
      width: 1.5vw;
      height: 1.5vw;
      display: inline-block;
      flex-shrink: 0;
      flex-grow: 0;
      border: .15vw solid rgba(209, 207, 218, 1);
      border-radius: 0.25em;
      margin-right: 0.5em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 70%;
      margin-right: 1vw;
      transition: var(--transition);
    }
    &:hover::before {
      border-color: var(--main-color);
    }
  }
  &__form-restore {
    font-family: "Roobert";
    font-size: 1vw;
    color: var(--main-color);
    text-decoration: underline;
    cursor: pointer;
    margin-left: auto;
    &:hover {
      text-decoration: none;
    }
  }
  &__form-btn {
    width: 100%;
    color: rgba(255, 255, 255, 1);
    font-family: "Tusker Grotesk SemiBold", sans-serif;
    font-size: 1.5vw;
    text-transform: uppercase;
    background: var(--main-color);
    border-radius: 50vw;
    margin: 1.6vw 0 3vw 0;
    padding: .6vw .5vw .4vw .5vw;
    transition: var(--transition);
    &:hover {
      background: var(--submain-color);
    }
  }
  &__form-text {
    font-family: "Roobert";
    font-size: 1vw;
    a {
      color: var(--main-color);
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}